@font-face {
  font-family: "SF";
  src: url(../src/assets/fonts/San\ Francisco\ Regular.ttf);
}

@font-face {
  font-family: "SF_strong";
  src: url(../src/assets//fonts/San\ Francisco\ Bold.ttf);
}

#root {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  --main-color: rgb(50, 44, 44);

}

:root {
  font-family: "SF", sans-serif;
}

h2 {
  font-family: "SF-strong", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

a:active {
  color: var(--light-blue);
}

/* .menu-item {
  color: red;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 80px;
}

header {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid grey;
 box-shadow: 0px 15px 10px -15px 

}

.header--logo {
  height: 100px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main {
  background-color: white;

}


.main-projects {
  display: grid;
  padding: 1rem;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  /* justify-content: center; */
  /* grid-template-columns: repeat(auto-fill, 360px ) ; */
}

.project-card {
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 1000px;
}

.project-card h1,
.project-card h2,
.project-card h3 {
  margin: 0;
}

.project-card--img-container {
  max-height: 280px;
  overflow: hidden;
}

.project-card--img-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transition: transform 0.40s;

}

.project-card--img-container img:hover {
  transform: scale(1.2);
  filter: grayscale(50%);
}

.project-card--info-container {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  margin-bottom: auto;
  justify-content: space-between;
}

.project-card--name-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card--icons {
  display: flex;
  gap: 1rem;
}

.project-card--description {
  text-align: justify;
}

.project-card--techs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

#dropdown-basic-button {
  background-color: lightgray;
  border: grey;
}

footer {
  background-color: white;
}

.header--btn {
  width: 100px;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.4);
  background-color: #3D2E77;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
}

.header--btn:hover {
  background-color: #97507F;
  cursor: pointer;

}

.header--btn:active {
  background-color: #3D2E77;
  cursor: pointer;
}