@font-face {
  font-family: "SF";
  src: url(../src/assets/fonts/SF-UI-Text-Regular.otf);
}

@font-face {
  font-family: "SF_strong";
  src: url(../src/assets//fonts/San\ Francisco\ Bold.ttf);
}
@font-face {
  font-family: "first-job";
  src: url(../src/assets//fonts/FirstJob-X8rP.ttf);
}
@font-face {
  font-family: "sentury";
  src: url(../src/assets//fonts/Sentury.ttf);
}

#root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  --main-color: rgb(50, 44, 44);
  --side-color: rgb(255, 191, 95);
  --img-url: url('./assets/ppnico.png');

}

:root {
  font-family: "SF", sans-serif;
}

h2 {
  font-family: "SF-strong", sans-serif;
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

a:active {
  color: var(--light-blue);
}

.underline--magical {
  background-image: linear-gradient(120deg, #f7d06b 0%, #f39e71 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  background-size: 100% 88%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  position: relative;
}

.header {
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  z-index: 1000;

  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 350ms;
}

.header.hide {
  top: -10rem;
}

.header-left {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-family: 'SF-strong', sans-serif;
  font-size: 0.4rem;
  font-weight: bold;
}

.header--logo {
  height: 80px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


/* Main */

main {
  background-color: white;
  display: flex;
  flex-direction: column;

}

.main-about {
  height: 100vh;
  min-height: 850px;
  display: flex;
  justify-content:center;
  /* justify-content:space-around; */
  /* justify-content: safe; */
  align-items: center;
  padding: 1rem;
}

.main-about--photo {
  flex-shrink: 0;
	/* margin: 20px; */
	height: calc(200px + 6vw);
	width: calc(200px + 6vw);
	border: calc(6px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	/* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5); */
  border-radius: 50%;
	background-image: var(--img-url),
  linear-gradient(to bottom left, #f83600, #f9d423);
  margin-bottom: 3rem;
}


.main-photo{
  max-width: 300px;
}

.arrow {
  transform: rotate(30deg);
 margin-top: 80px;
 margin-left: 40px;
  /* transform: scaleY(-1) */
}

.main-about--desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  text-align: center;
  margin-bottom: 3rem;
}

.main-projects {
  display: grid;
  padding: 1rem;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  /* justify-content: center; */
  /* grid-template-columns: repeat(auto-fill, 360px ) ; */
}

.main-about--desc h1 {
  font-family: 'SF_strong';
}
.main-about--desc h2 {
  font-family: "SF", sans-serif;
}

.project-card {
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 1000px;
}

.project-card h1,
.project-card h2,
.project-card h3 {
  margin: 0;
}

.project-card--img-container {
  max-height: 280px;
  overflow: hidden;
}

.project-card--img-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transition: transform 0.40s;

}

.project-card--img-container img:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}

.project-card--info-container {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  margin-bottom: auto;
  justify-content: space-between;
}

.project-card--name-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card--icons {
  display: flex;
  gap: 1rem;
}

.external-icon {
  transition: transform 0.40s;
}
.external-icon:hover{
  transform: scale(1.1);
}

.project-card--description {
  text-align: justify;
}

.project-card--techs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

#dropdown-basic-button {
  background-color: lightgray;
  border: grey;
}

/* Footer */

footer {
  background-color: white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.footer--infos {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.footer--icons {
  display: flex;
  gap: 1rem;
 
}

.footer-icon {
  transition: transform 0.25s ease-in-out;
}

.footer-icon:hover {
  transform: rotate(360deg) scale(1.3);
}



.header--btn {
  background: none;
  border: none;
  background-color: none;
  color: rgb(107, 114, 128);

  /* width: 100px; */
  font-family: "SF", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 5px;
}

.header--btn:hover {
  cursor: pointer;
  color: rgb(55 65 81);
  border-bottom: 2px solid var(--side-color);

}



.back-button {
  display: inline-block;
  background-color: var(--side-color);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1001;
}

.back-button:hover {
  cursor: pointer;
  background-color: #333;
}
.back-button:active {
  background-color: #555;
}
.back-button.show {
  opacity: 1;
  visibility: visible;
}

.button-span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  cursor: pointer;
}

.button-span span {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'SF_strong', sans-serif;
}

.button-span span:before,
.button-span span:after {
  position: absolute;
  content: "PROJECTS";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--side-color);
  box-sizing: border-box;
  border-radius: 5px;
}

.button-span span:before {
  color: #fff;
  background: var(--side-color);
  transform: rotateY(0deg) translateZ(25px);
}

.button-span span:after {
  color: var(--side-color);
  transform: rotateX(90deg) translateZ(25px);
}

.button-span span:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}


@media (max-width: 800px) {

  .App {
    display: flex;
    flex-direction: column;
  }

  .main {
    height: 100vh;
    display: flex;
  }
  

  .main-about {
    
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
  }

  .main-about--photo {
    margin: 0;
  }

  .main-about--desc {
    padding: 0 4rem 2rem 4rem;
    margin: 0;
  }
  
  .arrow {
    margin:0;
    margin-right: 6rem;
    transform: rotate(140deg);
  }
}